<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Truck Fleet</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>myapp</string>
          <string>com.kaloyanes.truckfleetmobile</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.692358107394-ns94cbfqdfngnc5rql591la4gs2mj6go</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>GMSApiKey</key>
    <string>AIzaSyBRU9KykZOPi_q7A9N2eD5EWQ9DZUwO-cE</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>comgooglemaps</string>
      <string>citymapper</string>
      <string>uber</string>
      <string>lyft</string>
      <string>transit</string>
      <string>truckmap</string>
      <string>waze</string>
      <string>yandexnavi</string>
      <string>moovit</string>
      <string>yandextaxi</string>
      <string>yandexmaps</string>
      <string>kakaomap</string>
      <string>tmap</string>
      <string>szn-mapy</string>
      <string>mapsme</string>
      <string>osmandmaps</string>
      <string>gett</string>
      <string>nmap</string>
      <string>dgis</string>
      <string>lftgpas</string>
      <string>petalmaps</string>
      <string>sygic</string>
      <string>here-route</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <dict>
      <key>en</key>
      <string>The app accesses your camera to take a photo for your profile.</string>
      <key>bg</key>
      <string>Приложението достъпва камерата ви, за да направи снимка за вашия профил.</string>
    </dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <dict>
      <key>en</key>
      <string>Allow $(PRODUCT_NAME) to use your location to track trucks.</string>
      <key>bg</key>
      <string>Позволете на $(PRODUCT_NAME) да използва местоположението ви за проследяване на камиона.</string>
    </dict>
    <key>NSLocationAlwaysUsageDescription</key>
    <dict>
      <key>en</key>
      <string>Allow $(PRODUCT_NAME) to use your location.</string>
      <key>bg</key>
      <string>Позволете на $(PRODUCT_NAME) да използва местоположението ви.</string>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <dict>
      <key>en</key>
      <string>Allow $(PRODUCT_NAME) to use your location.</string>
      <key>bg</key>
      <string>Позволете на $(PRODUCT_NAME) да използва местоположението ви.</string>
    </dict>
    <key>NSMicrophoneUsageDescription</key>
    <dict>
      <key>en</key>
      <string>Allow $(PRODUCT_NAME) to access your microphone.</string>
      <key>bg</key>
      <string>Позволете на $(PRODUCT_NAME) да достъпва вашия микрофон.</string>
    </dict>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <dict>
      <key>en</key>
      <string>Allow $(PRODUCT_NAME) to save photos.</string>
      <key>bg</key>
      <string>Позволете на $(PRODUCT_NAME) да запазва вашите снимки.</string>
    </dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <dict>
      <key>en</key>
      <string>The app accesses your photos to show your photo with the company.</string>
      <key>bg</key>
      <string>Приложението достъпва снимките ви, за да покаже вашата снимка с компанията.</string>
    </dict>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>location</string>
      <string>fetch</string>
      <string>audio</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>